<STYLE type=text/css media=all>

BODY {
	BORDER-RIGHT: rgb(42,64,89) 0px; BORDER-TOP: rgb(42,64,89) 0px; BORDER-LEFT: rgb(42,64,89) 0px; COLOR: rgb(72,181,166); BORDER-BOTTOM: rgb(42,64,89) 0px; FONT-FAMILY: Times New Roman, serif; BACKGROUND-COLOR: rgb(255,255,255)
}
#content {
	BORDER-RIGHT: rgb(0,0,0) 0px; PADDING-RIGHT: 9px; BORDER-TOP: rgb(0,0,0) 0px; PADDING-LEFT: 9px; FONT-SIZE: 118%; PADDING-BOTTOM: 9px; BORDER-LEFT: rgb(0,0,0) 0px; COLOR: rgb(0,0,0); PADDING-TOP: 9px; BORDER-BOTTOM: rgb(0,0,0) 0px; BACKGROUND-COLOR: rgb(255,255,255); TEXT-ALIGN: left
}
#menu {
	BORDER-LEFT-COLOR: rgb(33,73,194); BORDER-BOTTOM-COLOR: rgb(33,73,194); COLOR: rgb(81,193,204); BORDER-TOP-COLOR: rgb(33,73,194); FONT-STYLE: normal; FONT-FAMILY: Courier New, Courier, monospace; BACKGROUND-COLOR: rgb(42,64,89); BORDER-RIGHT-COLOR: rgb(33,73,194)
}
table{
        TABLE-LAYOUT: auto; BORDER-COLLAPSE: collapse;
}
th{
	BORDER-LEFT-COLOR: rgb(33,73,194); BORDER-BOTTOM-COLOR: rgb(33,73,194); COLOR: rgb(81,193,204); BORDER-TOP-COLOR: rgb(33,73,194); FONT-STYLE: normal; FONT-FAMILY: Courier New, Courier, monospace; BACKGROUND-COLOR: rgb(42,64,89); BORDER-RIGHT-COLOR: rgb(33,73,194)
}
td, th {
        WIDTH: 10%; BORDER: 2px solid silver; VERTICAL-ALIGN: top; FONT-SIZE: 14;
}
td.adminpanel{
		TEXT-ALIGN: left; border: 0; rules: 0; frame: 0;
}
td{
        TEXT-ALIGN: center;
}
table.login {
       TABLE-LAYOUT: fixed; WIDTH: 50%;
}
A.menuitem {
	BORDER-RIGHT: rgb(72,181,166) 0px; BORDER-TOP: rgb(72,181,166) 0px; FONT-WEIGHT: bold; FONT-SIZE: 126%; MARGIN: 17px; TEXT-TRANSFORM: none; BORDER-LEFT: rgb(72,181,166) 0px; COLOR: rgb(84,176,217); BORDER-BOTTOM: rgb(72,181,166) 0px; BACKGROUND-COLOR: rgb(42,64,89); TEXT-ALIGN: left; FONT-VARIANT: normal
}
#logo {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; FONT-SIZE: 187%; BORDER-LEFT-COLOR: rgb(0,0,0); BORDER-BOTTOM-COLOR: rgb(0,0,0); PADDING-BOTTOM: 18px; TEXT-TRANSFORM: none; COLOR: rgb(72,181,166); BORDER-TOP-COLOR: rgb(0,0,0); PADDING-TOP: 18px; FONT-STYLE: normal; FONT-FAMILY: Courier New, Courier, monospace; BACKGROUND-COLOR: rgb(255,255,255); TEXT-ALIGN: center; FONT-VARIANT: normal; BORDER-RIGHT-COLOR: rgb(0,0,0)
}
#logo A {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; FONT-WEIGHT: normal; FONT-SIZE: 187%; BORDER-LEFT-COLOR: rgb(0,0,0); BORDER-BOTTOM-COLOR: rgb(0,0,0); PADDING-BOTTOM: 18px; TEXT-TRANSFORM: none; COLOR: rgb(72,181,166); BORDER-TOP-COLOR: rgb(0,0,0); PADDING-TOP: 18px; FONT-STYLE: normal; FONT-FAMILY: Courier New, Courier, monospace; BACKGROUND-COLOR: rgb(255,255,255); TEXT-ALIGN: center; FONT-VARIANT: normal; BORDER-RIGHT-COLOR: rgb(0,0,0)
}
#trail {
	BORDER-RIGHT: rgb(81,193,204) 0px; PADDING-RIGHT: 1px; BORDER-TOP: rgb(81,193,204) 0px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 128%; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: none; BORDER-LEFT: rgb(81,193,204) 0px; COLOR: rgb(81,193,204); PADDING-TOP: 1px; BORDER-BOTTOM: rgb(81,193,204) 0px; FONT-STYLE: normal; BACKGROUND-COLOR: rgb(255,255,255); TEXT-ALIGN: left; FONT-VARIANT: normal
}
#trail A {
	BORDER-RIGHT: rgb(81,193,204) 0px; PADDING-RIGHT: 1px; BORDER-TOP: rgb(81,193,204) 0px; PADDING-LEFT: 1px; FONT-WEIGHT: normal; FONT-SIZE: 128%; PADDING-BOTTOM: 1px; TEXT-TRANSFORM: none; BORDER-LEFT: rgb(81,193,204) 0px; COLOR: rgb(81,193,204); PADDING-TOP: 1px; BORDER-BOTTOM: rgb(81,193,204) 0px; FONT-STYLE: normal; BACKGROUND-COLOR: rgb(255,255,255); TEXT-ALIGN: left; FONT-VARIANT: normal
}
#content A {
	COLOR: rgb(13,141,188); TEXT-DECORATION: underline
}
#content A:hover {
	COLOR: rgb(255,255,255); BACKGROUND-COLOR: rgb(13,141,188)
}
#content A:active {
	COLOR: rgb(255,255,255); BACKGROUND-COLOR: rgb(13,141,188)
}
H1 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Times New Roman, serif; FONT-VARIANT: normal
}
H2 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Times New Roman, serif; FONT-VARIANT: normal
}
H3 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Times New Roman, serif; FONT-VARIANT: normal
}
H4 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Times New Roman, serif; FONT-VARIANT: normal
}
H5 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Times New Roman, serif; FONT-VARIANT: normal
}
H6 {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: none; FONT-STYLE: normal; FONT-FAMILY: Times New Roman, serif; FONT-VARIANT: normal
}
H1 {
	FONT-SIZE: 126%
}
H2 {
	FONT-SIZE: 117%
}
H3 {
	FONT-SIZE: 108%
}
H4 {
	FONT-SIZE: 99%
}
H5 {
	FONT-SIZE: 90%
}
H6 {
	FONT-SIZE: 81%
}
#menu A {
	TEXT-DECORATION: none
}
.menuitem:hover {
	COLOR: rgb(42,64,89); BACKGROUND-COLOR: rgb(84,176,217)
}
#trail A {
	TEXT-DECORATION: none
}
#logo A {
	TEXT-DECORATION: none
}
#trail A:hover {

}
.menuitem {
	DISPLAY: inline
}

@media Print
{
#menu {
	DISPLAY: none
}
#content {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#content A {
	TEXT-DECORATION: underline
}

}
</STYLE>